[submodule "sandbox/src/hazel/src/vendor/spdlog"]
	path = sandbox/src/hazel/src/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "sandbox/src/hazel/src/vendor/glfw"]
	path = sandbox/src/hazel/src/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "sandbox/src/hazel/src/vendor/imgui"]
	path = sandbox/src/hazel/src/vendor/imgui
	url = https://github.com/toleksyn/imgui
[submodule "sandbox/src/hazel/src/vendor/glm"]
	path = sandbox/src/hazel/src/vendor/glm
	url = https://github.com/toleksyn/glm
